@import url("colors.css");


window {
	    background-color: @bg; /* Замените transparent на ваш фоновый цвет */
	        border: none;
	}#outer-box {
    background-color: @bg;
    border: 2px solid @border;
    border-radius: 20px;
    padding: 10px;
}

#input {
    background-color: shade(@bg, 0.7);
    color: @fg;
    border: 1px solid @border;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#entry {
    padding: 5px;
    margin: 2px 10px;
    border-radius: 8px;
}

#entry:selected {
    background-color: @accent;
}

#text {
    color: @fg;
    font-size: 14px;
    margin-left: 5px;
}

#img {
    min-width: 24px;
    min-height: 24px;
    margin-right: 8px;
    padding: 0px;
}
