window {
    background-color: transparent;
    border: none;
}

#outer-box {
    background-color: alpha(#090d17, 0.97);
    border: 2px solid #3B7FC1;
    border-radius: 20px;
    padding: 8px;
}

#input {
    background-color: alpha(#090d17, 0.85);
    color: #c1c2c5;
    border: 2px solid #3B7FC1;
    border-radius: 12px;
    margin-bottom: 8px;
    padding: 10px 15px;
    font-size: 14px;
}

#entry {
    border-radius: 6px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: 2px solid transparent;
    min-width: 220px;
}

#entry:hover {
    border: 2px solid #3B7FC1;
    background-color: alpha(#3B7FC1, 0.2);
}

#entry:selected {
    border: 2px solid #578CBA;
    background-color: alpha(#578CBA, 0.3);
}

#text {
    opacity: 1;
    color: #c1c2c5;
    font-size: 14px;
    margin-left: 5px;
}

#img, image {
    border-radius: 6px;
    margin: 0px;
    padding: 0px;
}
