window {
    background-color: transparent;
    border: none;
}

#outer-box {
    background-color: alpha(#29111e, 0.97);
    border: 2px solid #869A6E;
    border-radius: 20px;
    padding: 8px;
}

#input {
    background-color: alpha(#29111e, 0.85);
    color: #c9c3c6;
    border: 2px solid #869A6E;
    border-radius: 12px;
    margin-bottom: 8px;
    padding: 10px 15px;
    font-size: 14px;
}

#entry {
    border-radius: 6px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border: 2px solid transparent;
    min-width: 220px;
}

#entry:hover {
    border: 2px solid #869A6E;
    background-color: alpha(#869A6E, 0.2);
}

#entry:selected {
    border: 2px solid #94A772;
    background-color: alpha(#94A772, 0.3);
}

#text {
    opacity: 1;
    color: #c9c3c6;
    font-size: 14px;
    margin-left: 5px;
}

#img, image {
    border-radius: 6px;
    margin: 0px;
    padding: 0px;
}
